.pepperoni-pizza-removebg-previ {
  width: 1149.1px;
  height: 981.3px;
  transform: rotate(-49.57deg);
  transform-origin: 0 0;
  background-image: url(/public/pepperonipizzaremovebgpreview-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
