.th-removebg-preview-3 {
  width: 993.3px;
  height: 981.2px;
  transform: rotate(-52.15deg);
  transform-origin: 0 0;
  background-image: url(/public/thremovebgpreview-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
