.th-removebg-preview-1 {
  width: 1192.2px;
  height: 981px;
  transform: rotate(-57.48deg);
  transform-origin: 0 0;
  background-image: url(/public/thremovebgpreview-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
