.th-removebg-preview-4 {
  width: 1192.2px;
  height: 981px;
  transform: rotate(-154.97deg);
  transform-origin: 0 0;
  background-image: url(/public/thremovebgpreview-43@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
